---
layout: default
title: "Home"
---

<div data-mult="0.3" data-direction="X(-" class="fish-box parallax">
    <img src="../assets/img/BM_fish.png" number="0.4" alt="fish">
</div>
<div class="item-box bg-green">
    <h2>Video preview</h2>
    <div data-mult="0.4" data-direction="Y(" class="floral-box parallax">
        <img src="../assets/img/BM_floral.png" alt="fish">
    </div>

    <div class="videos-iframes-container">
        {% for item in site.data.videos limit: 2 %}
        <div class="videos-iframe-box">
            <iframe class="videos-iframes" src="{{ item.url }}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>{{ item.name }}</p>
        </div>
        {% endfor %}
    </div>

</div>
<div class="item-box bg-darkOrange">
    <h2>Music preview</h2>
    <!-- <div class="leaf-1-box">
            <img class="leaf-1" src="../assets/img/leaf.png" alt="leaf 1">
        </div>
        <div class="leaf-2-box">
            <img class="leaf-2" src="../assets/img/leaf_2.png" alt="leaf 2">
        </div> -->
    <div class="music-container-discography">
        {% for item in site.data.discography limit: 3 %}
        <div class="music-discography-item">
            <img src="{{item.url}}" class="music-discography-images" alt="item.name">
            <p>{{item.name}}</p>
        </div>
        {% endfor %}
    </div>

</div>
<div class="item-box bg-orange">
    <h2>Store preview</h2>
    <div class="music-container-discography">
        {% for item in site.data.store limit: 3 %}
        <div class="store-item">
            <img src="{{item.url}}" class="music-discography-images" alt="">
            <p>{{item.pris}}</p>
        </div>
        {% endfor %}
    </div>

</div>
<div class="item-box bg-yellowGreen text-history">
    <h2>History preview</h2>
    <h3>
        Robert Nesta Marley, OM (6 February 1945 – 11 May 1981) was a Jamaican
        singer and songwriter. Considered one of the pioneers of reggae, his musical
        career was marked by blending elements of reggae, ska, and rocksteady, as
        well as forging a smooth and distinctive vocal and songwriting style.
        Marley's contributions to music increased the visibility of Jamaican music
        worldwide, and made him a global figure in popular culture for over a
        decade.
    </h3>
</div>
<div class="item-box bg-darkGreen">
    <h2>Subscribe</h2>
    <form action="post">
        <fieldset>
            <div class="email">
                <input type="text" placeholder="email">
            </div>
            <div class="name">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="btn-index">
                <button>Send</button>
            </div>
        </fieldset>
    </form>
</div>

<script src="../assets/js/parallax.js"></script>