---
layout: default
---

<!-- {{ content }} -->

<div id="music-videos-leaf-1-box">
  <img
    class="music-videos-leaf-1"
    src="../assets/design-images/leaf.png"
    alt="leaf 1"
  />
</div>
<div class="music-videos-leaf-2-box">
  <img
    class="music-videos-leaf-2"
    src="../assets/design-images/leaf_2.png"
    alt="leaf 2"
  />
</div>
<div class="music-videos-container" id="music-videos-container">
  <h1>Discography</h1>
  <div class="music-videos-container-discography">
    {% for file in site.static_files %} {% if file.image %}
    <div class="music-videos-discography-item">
      <img
        src="{{ file.path }}"
        class="music-videos-discography-images"
        alt="file.name"
      />
      <p>{{ file.basename }}</p>
    </div>
    {% endif %} {% endfor %}
  </div>
  <h1>Videos</h1>
  <!-- {% for item in site.data.videos %}
    <div>
        <iframe width="560" height="315" src="{{ item.url }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>{{ item.name }}</p>
    </div>
    {% endfor %} -->
</div>

<script src="../assets/js/music-videos-parallax.js"></script>
<script src="../assets/js/music-videos-leaf1-parallax.js"></script>
<!-- <script src="../assets/js/music-videos-hover.js"></script> -->
