<footer>
    <div class="fish2-box-footer">
        <img class="fish2-footer" src="../assets/img/BM_fish.png" alt="Fish">
    </div>
    <div class="item">
        <ul class="footer-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="music.html">Music</a></li>
        </ul>
    </div>
    <div class="item">
        <ul class="footer-list">
            <li><a href="#"><img src="../assets/img/bm_facebook.svg" alt=""></a></li>
            <li><a href="#"><img src="../assets/img/bm_insta.svg" alt=""></a></li>
            <li><a href="#"><img src="../assets/img/bm_linkedin.svg" alt=""></a></li>
        </ul>
    </div>
    <div class="item">
        <ul class="footer-list">
            <li><a href="store.html">Store</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="contact.html">contact</a></li>
        </ul>
    </div>
    <div class="fish1-box-footer">
        <img class="fish1-footer" src="../assets/img/BM_fish.png" alt="Fish">
    </div>
</footer>