<div class="cloud-big-box parallaxRight">
</div>
<div class="cloud-small-box parallaxLeft">
    <img src="../assets/img/BM_cloud_small.png" alt="cloud">
</div>
<header>
    <div class="bg-image">
    </div>
    <div class="nav-wrapper">
        <nav>
            <ul>
                <li class="bg-darkGreen"><a href="index.html">Home</a></li>
                <li class="bg-green"><a href="videos.html">Videos</a></li>
                <li class="bg-darkOrange"><a href="music.html">Music</a></li>
                <li class="bg-orange"><a href="store.html">Store</a></li>
                <li class="bg-yellowGreen"><a href="history.html">History</a></li>
                <li class="bg-green"><a href="contact.html">Contact</a></li>
                <li class="bg-darkGreen"><a href="guestbook.html">Guestbook</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- <script src="../assets/js/parallax.js"></script> -->