<header>
    <div class="bg-image"></div>
    <div class="nav-wrapper">
        <nav>
            <ul>
                <li class="bg-darkGreen"><a href="music-videos.html">History</a></li>
                <li class="bg-green"><a href="music-videos.html">Videos</a></li>
                <li class="bg-yellowGreen"><a href="music-videos.html">About</a></li>
                <li class="bg-orange"><a href="music-videos.html">Store</a></li>
                <li class="bg-darkOrange"><a href="music-videos.html">Music</a></li>
            </ul>
        </nav>
    </div>


</header>