footer {
    display: flex;
    /* background: linear-gradient(to bottom, $green 0%, $darkGreen 100%); */
    width: 600px;
    margin: auto;
    padding: 2% 0% 2% 0%;
}

.item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    z-index: 30;
}


.footer-list {
    font-weight: 400;
    display: inline-block;

    li {
        text-align: center;
        padding: 3% 0% 3% 0%;
        width: 100%;

        img {
            width: 25px;
        }
    }
}

.fish1-box-footer {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 10;
}

.fish1-footer {
    width: 100%;
}

.fish2-box-footer {
    position: absolute;
    left: 0;
    width: 30%;
    z-index: 10;
}

.fish2-footer {
    width: 100%;
    transform: scaleX(-1);
}