.bg-image {
    display: flex;
    margin: auto;
    background-image: url("/assets/img/BM_index.png");
    background-repeat: no-repeat;
    height: 520px;
    width: 1024px;
    z-index: 2;
}

.cloud-big-box {
    position: absolute;
    background-image: url("/assets/img/BM_cloud_big.png");
    background-repeat: no-repeat;
    height: 520px;
    width: 510px;
    top: 20%;
    right: 90%;
    z-index: -10;
}
.cloud-small-box {
    position: absolute;
    top: 40%;
    right: 5%;
    z-index: 1;
}

nav {
    display: flex;
    margin: auto;
    width: 1024px;
    margin-top: -3.8%;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
}

ul {
    font-family: $roboto-sans;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    li {
        margin: 0% 0.5% 0% 0%;
        width: 110px;
        padding: 2% 2% 2% 2%;
        text-align: center;
    }
}

.bg-darkGreen {
    background-color: $darkGreen;
    background-image: url("/assets/img/noise-light.png");
}

    a {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #000;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
    }

.bg-green {
    background-color: $green;
    background-image: url("/assets/img/noise-light.png");
}

.bg-yellowGreen {
    background-color: $yellowGreen;
    background-image: url("/assets/img/noise-light.png");
}

.bg-orange {
    background-color: $orange;
    background-image: url("/assets/img/noise-light.png");
}

.bg-darkOrange {
    background-color: $darkOrange;
    background-image: url("/assets/img/noise-light.png");
}


a{
    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    }