.about-container {
    width: 1024px;
    margin: auto;
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(to bottom, $yellowGreen 0%, $green 100%);
    // background-image: url(/assets/img/noise-light.png);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container p {
    // background-image: url(/assets/img/noise.png);
    width: 75%;
    // padding: 50px;
    // margin: 200px 0;

    text-align: center;
    font-size: 17.5px;
    line-height: 2;

    z-index: 20;
}