.about-container {
    width: 1024px;
    margin: auto;
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(to bottom, $yellowGreen 0%, $green 100%);
    // background-image: url(/assets/img/noise-light.png);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container p {
    // background-image: url(/assets/img/noise.png);
    width: 75%;

    text-align: center;
    font-size: 17.5px;
    line-height: 2;

    z-index: 20;

    color: red;
    text-shadow: 1px 1px black;
}

.about-container i {
    font-size: 12.5px;
    margin-top: 10px;
}

.img-container {
    position: absolute;
    // z-index: 30;
    opacity: 0.85;
    width: 900px;
    // border-radius: 10px;
}

.history-img {
    width: 75%;
    height: 400px;
    opacity: 0.85;
    border-radius: 20px;

    background-size: cover;
}

.img-1 {
    background-image: url(/assets/img/history/bob-young.jpg);
    background-position: top;
}

.img-2 {
    background-image: url(/assets/img/history/tosh-rita-bob.png);
    background-position: top;
}

.img-3 {
    background-image: url(/assets/img/history/bob-rita.jpg);
    background-position: center;
}

.img-4 {
    background-image: url(/assets/img/history/bob.png);
    background-position: center;
}

.img-5 {
    background-image: url(/assets/img/history/bob-1981-crop.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: orange;
}

.leaf-box {
    position: absolute;
    z-index: 10;
}

.leaf-box-1 {
    width: 20%;
    left: 50px;
    top: 700px;
}

.leaf-box-2 {
    width: 25%;
    right: 50px;
    top: 700px;
}

.leaf-box-3 {
    width: 20%;
    right: 120px;
    top: 2000px;
    
}

.leaf-box-4 {
    width: 25%;
    left: 50px;
    top: 1400px;
}

.leaf-box-5 {
    width: 20%;
    left: 50px;
    top: 2400px;
}

.leaf-box-6 {
    width: 25%;
    right: 50px;
    top: 3000px;
}

.leaf-box-7 {
    width: 20%;
    right: 100px;
    top: 3600px;
}

.leaf-box-8 {
    width: 25%;
    left: 50px;
    top: 4000px;
}

.leaf {
    width: 100%;
}

.leaf-3 {
    transform: rotate(310deg);
}

.leaf-4 {
    transform: rotate(180deg);
}

.leaf-6 {
    transform: rotate(320deg);
}

.leaf-7 {
    transform: rotate(210deg);
}

.leaf-8 {
    transform: rotate(160deg);
}