$darkGreen: #009B41;
$green: #78CE00;
$yellowGreen: #FCFF00;
$orange: #FFB300;
$darkOrange: #FF5911;

.item-box {
    width: 1024px;
    margin: 2% auto 2% auto;
    padding: 3% 0% 3% 0%;
}

.floral-box {
    position: absolute;
    top: 50%;
    right: 72%;
    z-index: 10;
}

.fish-box {
    position: absolute;
    top: 550px;
    right: 0px;
    margin: 0;
    z-index: 8;

    img {
        width: 100%;
    }
}

.text-history {
    h2{
        color: $darkGreen;
    }
    h3{
        margin: auto;
        width: 800px;
        color: $darkGreen;
        text-align: center;
    }
}

h2 {
    text-align: center;
    font-family: $roboto-sans;
    text-transform: uppercase;
    color: white;
}

fieldset {
    width: 50%;
    margin: auto;
    border: none;
}



input {
    height: 40px;
    width: 100%;
    margin: 1% 1% 1% 1%;
    border: none;
}

.name {
    display: flex;
    width: 100%;

}
.email {
    display: flex;
    width: 100%;
}

::placeholder {
    text-transform: uppercase;
    font-family: $roboto-sans;
    font-weight: 500;
    text-align: center;
    font-size: 1.5em;
    color: $darkGreen;
}

.btn-index {
    button{
        text-align: center;
        text-transform: uppercase;
        font-family: $roboto-sans;
        font-weight: 500;
        font-size: 1.5em;
        background: none;
        border: none;
        color: white;
    }
    display: flex;
    justify-content: center;
    border: 1px solid white;
    width: 60%;
    height: 20%;
    margin: 2% auto 2% auto;
}
