@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');

$darkGreen: #009B41;
$green: #78CE00;
$yellowGreen: #FCFF00;
$orange: #FFB300;
$darkOrange: #FF5911;


$bodyColor: #000000;
$roboto: 'Roboto Slab',
serif;

body {
  background: linear-gradient(to bottom, $darkGreen 0%, $green 15%,  $yellowGreen 40%, $orange 70%, $darkOrange 100%) fixed;
  color: $bodyColor;
  font-family: $roboto;
}
