@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$darkGreen: #009B41;
$green: #78CE00;
$yellowGreen: #FCFF00;
$orange: #FFB300;
$darkOrange: #FF5911;


$bodyColor: #000000;
$roboto: 'Roboto Slab', serif;
$roboto-sans: 'Roboto', sans-serif;

body {
  background: linear-gradient(to bottom, $darkGreen 0%, $green 15%,  $yellowGreen 40%, $orange 70%, $darkOrange 100%) fixed;
  color: $bodyColor;
  font-family: $roboto;
}

.leaf-2-box {
  position: absolute;
  top: 700px;
  right: 50px;
  width: 25%;
  z-index: 10;
}

.leaf-1-box {
  position: absolute;
  top: 700px;
  left: 50px;
  width: 20%;
  z-index: 10;
}

.leaf-1,
.leaf-2 {
  width: 100%;
}
