.post-container {
    // background: #000;
    width: 1024px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(to bottom, $yellowGreen 0%, $green 100%);
    background-color: $darkGreen;
    background-image: url("/assets/img/noise-light.png");
}

.the-post {
    margin: 100px;
}

.the-post a {
    color: $orange;
}